
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #211f1f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  padding-top: 20px;
  width: 800px;
  height: 700px;
  display: block;
  margin: auto;
}

input[type='text'], input[type='number'] {
  border-left:2px solid #FFFFFF50;
  border-top:2px solid #FFFFFF50;
  border-right:2px solid #FFFFFF20;
  border-bottom:2px solid #FFFFFF20;
  padding: 5px 10px;
  border-radius: 10px;
  background: linear-gradient(#FFFFFF, #FFFFFF20);
}


.container-action{
  background-color: #f4f2f290;
  box-shadow: 0px 10px 20px #DDDDDD;
  padding: 10px 15px;
  border-radius: 15px;
}

hr {
  border:1px solid #DDDDDD90;
  margin-top: 10px;
  margin-bottom: 10px; 
  display: block;
}

.title {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.input-adder, .group-info {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
}

.submit {
  background: linear-gradient(#77de10, #60b40d);
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all .25s ease;
  &:hover {
    transform: scale(.95);
  }
}